<article class="container">


    <h1 i18n>APP DATA (list/list.component.html)</h1>
    <span>Currently Selected:<strong> {{selectItem.title | capitalize }}</strong></span>
    <ul>


        <li *ngFor="let item of appData$ | async; let i = index;" #appItems (click)="onSelect($event, item)">
            <button id="btn-item-{{item.id}}" [class.selected]="item.id === selectItem.id">
         
           <span class="w3-badge w3-green spacer-right">{{i+1}}</span>{{item.title}} 
          <span class="sr-only" role="alert" aria-live="polite" 
                [attr.aria-label]="item.title"> </span>
           
           </button>
        </li>

    </ul>



</article>
<hr/>
<article>

    <h1>WHAT WE'VE LEARNED SESSION #1: </h1>

    <div>
        <p>

            <ol>
                <li>
                    Installed tools: Node, Yarn, Code Editor and the Angular-cli.<br/>
                </li>
                <li>
                    Used the Angular-cli:<br/>
                </li>
                <ul>

                    <li>
                        Generate a new project: "demoa"<br/>
                    </li>
                    <li>
                        Generate a new service that we modifyed to use http and retrieve test data from a public server.<br/>
                    </li>
                    <li>
                        Generate a pipe that we used for capitalize in our list html. <br/> Note: the service or pipe can be added to a specific .module or for global use added to the (main) app.module file.
                    </li>
                </ul>
                <li>
                    Updated list.component.html with [class.selected] = true | false
                </li>
                <li>
                    Updated the component .scss file with button.select rule that styles the list.component.html.
                </li>
                <li>
                    BONUS: added [attr.aria-label] = "item.title" this is for WCAG coding on the list.component.html.
                </li>
            </ol>

    </div>
    <br/><br/><br/>
</article>